name: Alpha Release

on:
    push:
        tags:
            - 'alpha'
            - 'alpha-*'

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Check out code
              uses: actions/checkout@v4
            - name: Use CI .env file
              run: cp .env.ci .env
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: 'npm'
            - name: Cache turbo build setup
              uses: actions/cache@v4
              with:
                  path: .turbo
                  key: ${{ runner.os }}-turbo-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      ${{ runner.os }}-turbo-
            - name: Install Packages
              run: npm ci
            - name: Build packages
              run: npm run build
            - name: Build Alpha Package
              run: npm run package-alpha
            - name: Create Alpha Channel Pre-Release
              uses: softprops/action-gh-release@v2
              with:
                  prerelease: true
                  name: 'Alpha Channel: ${{ github.ref_name }}'
                  files: |
                      dist/ALPHA*.pbiviz
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
